config.yml
registration.yml
registration.*.yml
!registration.railway.production.yml
!registration.railway.production.yml.example
config.*.production.yml
!config.railway.production.yml
!config.railway.production.yml.example
lib/
node_modules/
tsconfig.tsbuildinfo
public/
/synapse
/doc-hookshot

.idea
# Added by cargo
/target

# Generated during build
/src/libRs.d.ts

# Generated during test run
/spec-lib
/hookshot-int-*

book
*.cer
*.pem
*.pcks8

# Coverage
coverage
.nyc_output

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# Environment variables
.env
.env.local
.env.*.local
.env.*.production